<h2>Kontak</h2>
  <main>
    <section>
      <ul>
    <% contact.forEach(c => { %>
      <li><strong><%= c.name %></strong> - <%= c.phone %> - <%= c.email %></li>
    <% }) %>
  </ul>
    </section>
  </main>
