<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">
  <%- include('partials/header') %>
  <!-- Konten dinamis -->
  <main class="flex-grow p-6">
    <%- body %>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
