<nav>
  <ul class="flex space-x-6">
    <li><a href="/" class="hover:text-yellow-400 transition">Beranda</a></li>
    <li><a href="/about" class="hover:text-yellow-400 transition">Tentang</a></li>
    <li><a href="/contact" class="hover:text-yellow-400 transition">Kontak</a></li>
    <li><a href="/product" class="hover:text-yellow-400 transition">Produk</a></li>
  </ul>
</nav>